/* --- SASS vars --- */

$dark: #242020;
$light: #FCFCFC;
$grey: #EEEEEE;
$highlight: #FB5B75;
body {
    color: $dark;
}


/* --- Utilities --- */

.bg-dark {
    background-color: $dark;
    color: $light;
}

.bg-grey {
    background-color: $grey;
}


/* --- Header --- */

#top-bar {
    background-color: $light;
}

#masthead {
    background-color: $dark;
    .custom-logo {
        max-width: 110px;
    }
    hr {
        display: none;
    }
}


/* --- END Header --- */


/* --- Nav --- */

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $light;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $highlight;
}


/* --- END Nav --- */