
.icon-mail:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e86c'; } /* '' */
.icon-form:before { content: '\e86e'; } /* '' */
.icon-facebook:before { content: '\e94f'; } /* '' */
.icon-ion-iphone:before { content: '\f1fa'; } /* '' */
.icon-instagram:before { content: '\f350'; } /* '' */